@media (max-width: 414px) {
  .um .patinho {
    left: 1.8rem;
  }

  .um .talk {
    left: 8rem;
  }

  .um .span {
    left: 8.2rem;
    color: blue;
  }

  .um .content-coracao {
    left: 5rem;
  }

  .dois {
    height: 370vh;
  }

  .dois .text {
    left: 10rem;
  }

  .dois p {
    font-size: 1.2rem;
  }

  .dois .pikachu {
    left: 1rem;
  }

  .dois .puck {
    left: 10rem;
  }
}
