@media (max-width: 414px) {
  .um .patinho {
    left: 2rem;
  }

  .um .talk {
    left: 7rem;
  }

  .um span {
    left: 7.2rem;
    color: blue;
  }

  .um .content-coracao {
    left: 5rem;
  }

  .dois {
    height: 390vh;
  }

  .dois .text {
    left: 8rem;
  }

  .dois .pikachu {
    left: 2rem;
  }

  .dois .puck {
    left: 6rem;
  }
}
