@media (max-width: 414px) {
  .um .patinho {
    left: 1.8rem;
  }

  .um .talk {
    left: 8.2rem;
  }

  .um .span {
    left: 12.2rem;
    color: black;
  }

  .um .content-coracao {
    left: 5rem;
  }

  .dois {
    height: 305vh;
  }

  .dois .puck2 {
    width: 5rem;
    top: 47rem;
    left: 19.5rem;
  }

  .dois .text {
    top: 47rem;
    left: 12.9rem;
  }

  .dois p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .dois .pikachu {
    top: 214rem;
    left: 1rem;
  }

  .dois .puck {
    top: 207rem;
    left: 14rem;
  }

  .dois .start {
    top: 221rem;
  }
}
