@media (max-width: 414px) {
  .um .patinho {
    left: 1.8rem;
  }

  .um .talk {
    left: 8.2rem;
  }

  .um .span {
    left: 12.4rem;
    color: black;
  }

  .um .content-coracao {
    left: 5rem;
  }

  .dois {
    height: 335vh;
  }

  .dois .text {
    top: 47rem;
    left: 12.9rem;
  }

  .dois p {
    font-size: 1rem;
  }

  .dois .pikachu {
    left: 1rem;
  }

  .dois .puck {
    left: 14rem;
  }
}
